<div ng-app="ngBoilerplate" ng-controller="HomeCtrl">

  <h1 class="page-header">
    TickTwo Welcome!
  </h1>
      	<div class="container" style="width:90%">

		  <img id="image" ng-src="http://localhost:9000/TicketsService/assets/plane.jpg" class="img-thumbnail" align="left" alt="Plane"></img>
		  <img id="image" ng-src="http://localhost:9000/TicketsService/assets/train.jpg" class="img-thumbnail" align="right" alt="Train"></img>
	
		</div>
			
			<p>TickTwo is Europe's favourite airline and train service, operating more than 1,800 daily flights from 76 bases, connecting 200 destinations in 31 countries on a fleet of over 300 Boeing 737 aircraft. TickTwo has orders for a further 380 new Boeing 737 aircraft, which will enable TickTwo to lower fares and grow traffic from 105m this year to 180m p.a. in FY24. Ryanair has a team of more than 10,000 highly skilled aviation professionals delivering Europe's No.1 on-time performance, and has an industry leading 30-year safety record.</p>
			<p>Kings and presidents have indulged on this magnificent, moving five-star "hotel-on-wheels" and "hotel-in-sky". From love-struck honeymooners, to adulated celebrities. And even ordinary folk who romanticise about a life of spectacular luxury, a life that has seemed tantalisingly out of reach. Until now...</p>
			<p>Welcome aboard TickTwo. Your unforgettable experience is about to begin...</p>
 
<!--   <div class="btn-group"  ng-hide="isLoggedIn()"> -->
<!--     <a ui-sref="login" ng-click="login()" class="btn btn-large btn-default"> -->
<!--       <i class="fa fa-book"></i> -->
<!--       Login -->
<!--     </a> -->
<!--     <a ui-sref="register" class="btn btn-large btn-success"> -->
<!--       <i class="fa fa-download"></i> -->
<!--       Register -->
<!--     </a> -->
<!--   </div> -->
  
<!--   <div class="btn-group" ng-show="isLoggedIn()"> -->
<!--     <a ng-click="logout()" class="btn btn-large btn-default"> -->
<!--       <i class="fa fa-book"></i> -->
<!--       Logout -->
<!--     </a> -->
<!--   </div> -->

</div>

