<div class="row">
  <h1 class="page-header">
      {{'USERS_LIST' | translate}}
  </h1>
		 <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>{{'LOGIN' | translate}}</th>
		        <th>{{'USER_ROLE' | translate}}</th>
		        <th>{{'FIRST_NAME' | translate}}</th>
		        <th>{{'LAST_NAME' | translate}}</th>
		        <th>{{'EMAIL' | translate}}</th>
		        <th>{{'TELEPHONE' | translate}}</th>
		        <th>{{'ACTIONS' | translate}}</th>
		      </tr>
			</thead>

			<tbody>
			
	        <tr ng-repeat="account in accounts | filter:q">
	            <td>{{account.login}}</td>
	            <td>{{account.accountRole}}</td>
	            <td>{{account.firstname}}</td>
	            <td>{{account.lastname}}</td>
	            <td>{{account.email}}</td>
	            <td>{{account.telephone}}</td>
	            <td>
	                  <button class="btn btn-xs btn-primary btn-block" type="submit" ng-disabled="deleteButtonDisabled" ng-click="deleteAccount(account.rid)">{{'DELETE' | translate}}</button>
				</td>
            	            
	        </tr>			
			</tbody>
 		 </table>
</div>


