<div class="row">
  <h1 class="page-header">
      {{'BOOK_TRANSIT' | translate}}
  </h1>
		 <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>{{'TRANSIT_NUMBER' | translate}}</th>
		        <th>{{'TRANSIT_NAME' | translate}}</th>
		        <th>{{'FROM' | translate}}</th>
		        <th>{{'TO' | translate}}</th>
		        <th>{{'DEPARTURE_DATE' | translate}}</th>
		        <th>{{'DEPARTURE_HOUR' | translate}}</th>
		        <th>{{'ARRIVE_DATE' | translate}}</th>
		        <th>{{'ARRIVE_HOUR' | translate}}</th>
		        <th>{{'PRICE' | translate}} {{'CURRENCY_SIGN' | translate}}</th>
		        <th>{{'ACTIONS' | translate}}</th>
		      </tr>
			</thead>

			<tbody>
			
	        <tr ng-repeat="trainTicket in trainTicketsList | filter:q">
	            <td>{{trainTicket.transitNumber}}</td>
	            <td>{{trainTicket.transitName}}</td>
	            <td>{{trainTicket.transitFrom}}</td>
	            <td>{{trainTicket.transitTo}}</td>
	            <td>{{trainTicket.transitDateStart}}</td>
	            <td>{{trainTicket.transitHourStart}}</td>
	            <td>{{trainTicket.transitDateStop}}</td>
	            <td>{{trainTicket.transitHourStop}}</td>
	            <td>{{trainTicket.transitPrice}}</td>
	            <td>
                 <button class="btn btn-xs btn-primary btn-block" type="submit" ng-click="bookTrainTicket(trainTicket.rid)">{{'BOOK' | translate}}</button>
				</td>
            	            
	        </tr>			
			</tbody>
 		 </table>
</div>


