<div class="row">
  <h1 class="page-header">
      {{'BOOK_TRANSIT' | translate}}
  </h1>
  <form ng-submit="makeTrainOrder()" name="makeTrainOrderSubmitForm">
      <div class="form-group">
          <label>{{'FIRST_NAME' | translate}}*:</label>
          <input type="text" name="firstname" ng-model="trainTicketOrder.firstname" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_spaces|required" />
      </div>
      <div class="form-group">
          <label>{{'SECOND_NAME' | translate}}:</label>
          <input type="text" name="secondname" ng-model="trainTicketOrder.secondname" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_spaces" />
      </div>
      <div class="form-group">
          <label>{{'LAST_NAME' | translate}}*:</label>
          <input type="text" name="lastname" ng-model="trainTicketOrder.lastname" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_spaces|required"/>
      </div>
      <div class="form-group">
          <label>{{'COUNTRY' | translate}}*:</label>
          <input type="text" name="country" ng-model="trainTicketOrder.country" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_spaces|required"/>
      </div>
      <div class="form-group">
          <label>{{'STATE' | translate}}*:</label>
          <input type="text" name="state"  ng-model="trainTicketOrder.state" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_num_spaces|required"/>
      </div>
            <div class="form-group">
          <label>{{'CITY' | translate}}*:</label>
          <input type="text" name="city"  ng-model="trainTicketOrder.city" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_spaces|required"/>
      </div>
      <div class="form-group">
          <label>{{'STREET' | translate}}*:</label>
          <input type="text" name="street" ng-model="trainTicketOrder.street" class="form-control myForm-control" validation="min_len:1|max_len:25|alpha_num_spaces|required"/>
      </div>
      <div class="form-group">
          <label>{{'EMAIL' | translate}}*:</label>
          <input type="text"  name="email" ng-model="trainTicketOrder.email" class="form-control myForm-control" validation="email|required"/>
      </div>
      <div class="form-group">
          <label>{{'TELEPHONE' | translate}}*:</label>
          <input type="text" name="telephone"  ng-model="trainTicketOrder.telephone" class="form-control myForm-control" validation="pattern=/^\+[0-9]{1,4}\s[0-9]{3}-[0-9]{3}-[0-9]{3}$/:alt={{'TELEPHONE_PATTERN' | translate}}|required"/>
      </div>


      <button class="btn btn-lg btn-primary btn-block myButton" type="submit" ng-disabled="makeTrainOrderSubmitForm.$invalid" ng-show="showButtonFlag">{{'SUBMIT' | translate}}</button>
      
  </form>
</div>