<div class="row">
  <h1 class="page-header">
      New Train Transit
  </h1>
  <form ng-submit="trainTicketSubmit()">
      <div class="form-group myForm-control">
          <label>Transit number*</label>
          <input type="text" ng-model="trainticket.transitNumber" class="form-control"/>
      </div>
      <div class="form-group myForm-control">
          <label>Transit name*</label>
          <input type="text" ng-model="trainticket.transitName" class="form-control" />
      </div>
      <div class="form-group myForm-control">
          <label>From*</label>
          <input type="text"  ng-model="trainticket.transitFrom" class="form-control" />
      </div>
      <div class="form-group myForm-control">
          <label>To*</label>
          <input type="text" ng-model="trainticket.transitTo" class="form-control " />
      </div>
      <div class="form-group myForm-control"
		     moment-picker="trainticket.transitDateStart"
		     format="YYYY-MM-DD">
		  <label>Departure date*</label>
		     <div  class="input-group input-append date">
					<input class="form-control"
						           ng-model="trainticket.transitDateStart"
						           ng-model-options="{ updateOn: 'blur' }">		     
                  		<span class="input-group-addon add-on"><span class="glyphicon glyphicon-list"></span></span>

		     </div>
	 </div>
      <div class="form-group myForm-control">      
        <label>Departure hour*</label>
             <ng-timepicker  type="text" name="clock" ng-model="trainticket.transitHourStart" init-time="{{true && trainticket.transitHourStart || '12:00'}}"/>
             
      </div>  
      <div class="form-group myForm-control"
		     moment-picker="trainticket.transitDateStop"
		     format="YYYY-MM-DD">
		  <label>Arrive date*</label>
		     <div  class="input-group input-append date">
					<input class="form-control"
						           ng-model="trainticket.transitDateStop"
						           ng-model-options="{ updateOn: 'blur' }">		     
                  		<span class="input-group-addon add-on"><span class="glyphicon glyphicon-list"></span></span>

		     </div>
	 </div>
      <div class="form-group myForm-control">      
        <label>Arrive hour*</label>
             <ng-timepicker  type="text" name="clock" ng-model="trainticket.transitHourStop" init-time="{{true && trainticket.transitHourStop ||  '12:00'}}"/>
             
      </div>  
      <div class="form-group myForm-control">
          <label>Price*</label>
          <div  class="input-group input-append">
          <input type="text" ng-model="trainticket.transitPrice" class="form-control" />
                <span class="input-group-addon add-on"><span class="glyphicon">$</span></span>
          </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block myButton" type="submit">Submit</button>
      
  </form>
</div>


