<div class="row">
  <h1 class="page-header">
      New Train Transit
  </h1>
  <form ng-submit="trainTicketSubmit()" name="trainTicketSubmitForm">
      <div class="form-group myForm-control">
          <label>Transit number*</label>
          <input type="text" name="transitNumber" ng-model="trainticket.transitNumber" class="form-control" validation="min_len:1|max_len:9|alpha_num|required"/>
      </div>
      <div class="form-group myForm-control">
          <label>Transit name*</label>
          <input type="text" name="transitName"  ng-model="trainticket.transitName" class="form-control" validation="min_len:1|max_len:25|alpha_num_spaces|required"/>
      </div>
      <div class="form-group myForm-control">
          <label>From*</label>
          <input type="text" name="transitFrom"   ng-model="trainticket.transitFrom" class="form-control" validation="min_len:1|max_len:25|alpha_num_spaces|required"/>
      </div>
      <div class="form-group myForm-control">
          <label>To*</label>
          <input type="text" name="transitTo"  ng-model="trainticket.transitTo" class="form-control" validation="min_len:1|max_len:25|alpha_num_spaces|required"/>
      </div>
      <div class="form-group myForm-control"
		     moment-picker="trainticket.transitDateStart"
		     format="YYYY-MM-DD">
		  <label>Departure date*</label>
		     <div  class="input-group input-append date">
					<input class="form-control" name="transitDateStart" validation="date_iso|required"  ng-disabled="true"
						 validation-error-to="transitDateStartErrorMessage" ng-model="trainticket.transitDateStart"
						           ng-model-options="{ updateOn: 'blur' }">		     
                  		<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>

		     </div>
		     <span id="transitDateStartErrorMessage" class="validation text-danger"></span>
		     
	 </div>
      <div class="form-group myForm-control">      
        <label>Departure hour*</label>
             <ng-timepicker  type="text" name="clock" validation="time|required" ng-model="trainticket.transitHourStart" init-time="{{true && trainticket.transitHourStart || '12:00'}}"
             validation-error-to="flightHourStartErrorMessage"/>
         <span id="flightHourStartErrorMessage" class="validation text-danger"></span>
             
      </div>  
      <div class="form-group myForm-control"
		     moment-picker="trainticket.transitDateStop"
		     format="YYYY-MM-DD">
		  <label>Arrive date*</label>
		     <div  class="input-group input-append date">
					<input class="form-control" name="transitDateStop" validation="date_iso|required"  ng-disabled="true"
						    validation-error-to="transitDateStopErrorMessage" ng-model="trainticket.transitDateStop"
						           ng-model-options="{ updateOn: 'blur' }">		     
                  		<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>

		     </div>
		  <span id="transitDateStopErrorMessage" class="validation text-danger"></span>
		     
	 </div>
      <div class="form-group myForm-control">      
        <label>Arrive hour*</label>
             <ng-timepicker  type="text" name="clock"  validation="time|required" ng-model="trainticket.transitHourStop" init-time="{{true && trainticket.transitHourStop ||  '12:00'}}"
             validation-error-to="flightHourStopErrorMessage"/>
          <span id="flightHourStopErrorMessage" class="validation text-danger"></span>
             
      </div>  
      <div class="form-group myForm-control">
          <label>Price*</label>
          <div  class="input-group input-append">
          <input type="text" name="transitPrice"  ng-model="trainticket.transitPrice" class="form-control" validation="digits_between:2,10|required" 
          validation-error-to="priceErrorMessage"/>
                <span class="input-group-addon add-on"><span class="glyphicon">$</span></span>
          </div>
        <span id="priceErrorMessage" class="validation text-danger"></span>
          
      </div>
      <button class="btn btn-lg btn-primary btn-block myButton" type="submit" ng-disabled="trainTicketSubmitForm.$invalid" ng-show="showButtonFlag">Submit</button>
      
  </form>
</div>


