<div class="row">
  <h1 class="page-header">
      {{'LIST_OF_PLANE_ORDERS' | translate}}
  </h1>
		 <table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>{{'FIRST_NAME' | translate}}</th>
		        <th>{{'LAST_NAME' | translate}}</th>
		        <th>{{'COUNTRY' | translate}}</th>
		        <th>{{'STATE' | translate}}</th>
		        <th>{{'CITY' | translate}}</th>
		        <th>{{'STREET' | translate}}</th>
		        <th>{{'EMAIL' | translate}}</th>
		        <th>{{'TELEPHONE' | translate}}</th>
		        <th>{{'FLIGT_NUMBER' | translate}}</th>
		        <th>{{'ACTIONS' | translate}}</th>
		      </tr>
			</thead>

			<tbody>
<!-- 			ng-repeat="planeTicket in planeTicketsList |filter:q" -->
	        <tr  ng-repeat="planeTicketOrder in planeTicketOrderList | filter:q">
	            <td>{{planeTicketOrder.firstname}}</td>
	            <td>{{planeTicketOrder.lastname}}</td>
	            <td>{{planeTicketOrder.country}}</td>
	            <td>{{planeTicketOrder.state}}</td>
	            <td>{{planeTicketOrder.city}}</td>
	            <td>{{planeTicketOrder.street}}</td>
	            <td>{{planeTicketOrder.email}}</td>
	            <td>{{planeTicketOrder.telephone}}</td>
	            <td>{{planeTicketOrder.planeTicket.flightNumber}}</td>
	            <td>
                 <button class="btn btn-xs btn-primary btn-block" type="submit" ng-disabled="deleteButtonDisabled" ng-click="deletePlaneTicketOrder(planeTicketOrder.rid)">{{'DELETE' | translate}}</button>
				</td>
            	            
	        </tr>			
			</tbody>
 		 </table>
</div>


