<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
	<meta charset="UTF-8">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    
      <!-- Datepicker -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
<!--   <nav id="myNav" class="navbar navbar-inverse"> -->
<!--       <div class="container-fluid"> -->
<!--         <div class="navbar-header"> -->
<!--           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--           </button> -->
<!--         </div> -->
<!--         <div class="collapse navbar-collapse" id="myNavbar" collapse="menuCollapsed"> -->
<!--           <ul class="nav navbar-nav"> -->
<!--             <li ui-sref-active="active"> -->
<!--               <a href ui-sref="home"> -->
<!-- 		  <img ng-src="http://localhost:9000/TicketsService/assets/logo.png"></img> -->

<!--               </a> -->
<!--             </li> -->
<!--             <li ui-sref-active="active"> -->
<!--               <a href ui-sref="about"> -->
<!--                 <i class="fa fa-info-circle"></i> -->
<!--                 About -->
<!--               </a> -->
<!--             </li> -->
<!--             <li ui-sref-active="active"> -->
<!--               <a href ui-sref="contact"> -->
<!--                 <i class="fa fa-info-circle"></i> -->
<!--                 Contact -->
<!--               </a> -->
<!--             </li> -->
<!--           </ul> -->
        
<!--             <ul class="nav navbar-nav navbar-right nav-pills nav-stacked">		       -->
<!-- 		        <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
<!-- 		        <li><a href="user.html"><span class="glyphicon glyphicon-user"></span> Sign up</a></li> -->
<!--      		</ul> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!-- </nav> -->
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
          	<img ng-src="http://localhost:9000/TicketsService/assets/logo.png"></img>
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed" id="top-navbar">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active">
              <a href ui-sref="home">
                <i class="fa fa-home"></i>
                Home
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <i class="fa fa-info-circle"></i>
                About
              </a>
            </li>            
            <li ui-sref-active="active">
              <a href ui-sref="contact">
                <i class="fa fa-info-circle"></i>
                Contact
              </a>
            </li>
          </ul>
	          <div ng-hide="isLoggedIn()">
	             <ul class="nav navbar-nav navbar-right" >
	             	<li>
		              <a ui-sref="login" ng-click="login()">
		              	<span class="glyphicon glyphicon-log-in"></span>Login
		              </a>
		            </li>
		            <li>
		              <a ui-sref="register">
						<span class="glyphicon glyphicon-user"></span>Sign up
		              </a>
		            </li>
				    <li>
		              <a ng-click="" id="flag">
						<span class="glyphicon glyphicon-flag"></span>PL
		              </a>
		            </li> 
				    <li>
		              <a ng-click="" id="flag">
						<span class="glyphicon glyphicon-flag"></span>ENG
		              </a>
		            </li>           
		            <li>		          	    
		         </ul>      
	          </div>
	          <div ng-show="isLoggedIn()">
	          	 <ul class="nav navbar-nav navbar-right" >
				    <li>
		              <a ng-click="logout()" id="logout-click">
						<span class="glyphicon glyphicon-log-out"></span>Logout
		              </a>
		            </li> 	          	 
				    <li>
		              <a ng-click="" id="flag">
						<span class="glyphicon glyphicon-flag"></span>PL
		              </a>
		            </li> 
				    <li>
		              <a ng-click="" id="flag">
						<span class="glyphicon glyphicon-flag"></span>ENG
		              </a>
		            </li>   
		          </ul>		                     
	          </div>
        </div>
      </div>
	</div>
 
 
<div class="container">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
  			<ul class="nav nav-pills nav-stacked">
					 <li><a ui-sref="newPlaneTicket"><span class="glyphicon glyphicon-chevron-right"></span>addPlane</a></li>
					 <li><a ui-sref="newTrainTicket"><span class="glyphicon glyphicon-chevron-right"></span> addTrain</a></li>
			</ul>
		    &nbsp;
		    <ul class="nav nav-pills nav-stacked">			   			
					 <li><a ui-sref="planeTicketsList"><span class="glyphicon glyphicon-chevron-right"></span>planeTicketsList</a></li>
					  <li><a ui-sref="trainTicketsList"><span class="glyphicon glyphicon-chevron-right"></span>trainTicketsList</a></li>
			</ul>
			&nbsp;
			<ul class="nav nav-pills nav-stacked">					 
					 <li><a ui-sref="bookPlaneTicket"><span class="glyphicon glyphicon-chevron-right"></span> planeTicketsListBook</a></li>
				     <li><a ui-sref="bookTrainTicket"><span class="glyphicon glyphicon-chevron-right"></span>trainTicketsListBook</a></li>
			</ul>
			&nbsp;
			
			<ul class="nav nav-pills nav-stacked">		
					 <li><a ui-sref="bookPlaneTicketOrderList"><span class="glyphicon glyphicon-chevron-right"></span> planeOrdersList</a></li>
					 <li><a ui-sref="bookTrainTicketOrderList"><span class="glyphicon glyphicon-chevron-right"></span> trainOrdersList</a></li>
			</ul>
			 &nbsp;
			<ul class="nav nav-pills nav-stacked">					 
					 <li><a href="userRole.html"><span class="glyphicon glyphicon-chevron-right"></span> userRole</a></li>
			         <li><a href="user.html"><span class="glyphicon glyphicon-chevron-right"></span> user</a></li>
    		</ul>
    		&nbsp;		
    		<ul class="nav nav-pills nav-stacked">					 
    		  	     <li><a ui-sref="usersList"><span class="glyphicon glyphicon-chevron-right"></span> usersList</a></li>
    		</ul>
    		    		&nbsp;		
    		
    		<ul class="nav nav-pills nav-stacked">					 
	    			 <li><a href="myPlaneOrders.html"><span class="glyphicon glyphicon-chevron-right"></span>myPlaneOrders</a></li>
    		  	     <li><a href="myTrainOrders.html"><span class="glyphicon glyphicon-chevron-right"></span> myTrainOrders</a></li>
    		</ul>
    </div>
	    <div class="col-sm-10 text-left"> 
     
	      	    <div class="container" ui-view="main"></div>
	      
	<!--       <div class="container" style="width:90%"> -->
	         
		
		</div>
    </div>
<!--     <div class="col-sm-2 sidenav"> -->

		
<!--     </div> -->
  </div>
 
 
 
 
 
 
 
 
 
    
<!-- 		<div class="container-fluid text-center"> -->
<!-- 		  <img ng-src="http://localhost:9000/TicketsService/assets/plane.jpg"></img> -->
		 
<!-- 		  <p>2015 \u00a9 TickTwo Ltd. All rights reserved.</p> -->
<!-- 		</div> -->
   <footer class="footer">
      <div class="container text-center">
        <div class="footer-inner" id="footer-inner">      
          <p>(c) 2015 TickTwo Ltd. All rights reserved.</p>
        </div>
      </div>
</footer>
  </body>
</html>
