<div class="row">
  <h1 class="page-header">
      New Plane Flight
  </h1>
  <form ng-submit="planeTicketSubmit()">
      <div class="form-group myForm-control">
          <label>Flight number*</label>
          <input type="text" ng-model="planeticket.flightNumber" class="form-control"/>
      </div>
      <div class="form-group myForm-control">
          <label>From*</label>
          <input type="text"  ng-model="planeticket.flightFrom" class="form-control"/>
      </div>
      <div class="form-group myForm-control">
          <label>To*</label>
          <input type="text" ng-model="planeticket.flightTo" class="form-control"/>
      </div>

      <div class="form-group myForm-control"
		     moment-picker="planeticket.flightDateStart"
		     format="YYYY-MM-DD">
		  <label>Departure date*</label>
		     <div  class="input-group input-append date">
					<input class="form-control"
						           ng-model="planeticket.flightDateStart"
						           ng-model-options="{ updateOn: 'blur' }">		     
                  		<span class="input-group-addon add-on"><span class="glyphicon glyphicon-list"></span></span>

		     </div>
	 </div>
      
      <div class="form-group myForm-control">      
        <label>Departure hour*</label>
             <ng-timepicker  type="text" name="clock" ng-model="planeticket.flightHourStart" init-time="{{true && planeticket.flightHourStart ||  '12:00'}}"/>
      </div>      
      
      
      <div class="form-group myForm-control"
		     moment-picker="planeticket.flightDateStop"
		     format="YYYY-MM-DD">
		  <label>Arrive date*</label>
		     <div  class="input-group input-append date">
					<input class="form-control"
						           ng-model="planeticket.flightDateStop"
						           ng-model-options="{ updateOn: 'blur' }">		     
                  		<span class="input-group-addon add-on"><span class="glyphicon glyphicon-list"></span></span>

		     </div>
	 </div>
      <div class="form-group myForm-control">      
        <label>Arrive hour*</label>
             <ng-timepicker  type="text" name="clock" ng-model="planeticket.flightHourStop" init-time="{{true && planeticket.flightHourStop ||  '12:00'}}"/>
             
      </div> 
      <div class="form-group myForm-control">
          <label>Price*</label>
          <div  class="input-group input-append">
          <input type="text" class="form-control" ng-model="planeticket.flightPrice"/>
                <span class="input-group-addon add-on"><span class="glyphicon">$</span></span>
          </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block myButton" type="submit">Submit</button>
      
  </form>
</div>

